<!DOCTYPE html>

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chat | ChatApp</title>

  <meta name="viewport" content="width:device-width, initial-scale=1, user-scalable=no">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="chat">

  <div class="chat__sidebar">
    <h3>People</h3>
    <div id="users"></div>
  </div>

  <div id="app" class="chat__main">
    <ol id="messages" ref="messages" class="chat__messages">
      <message-item v-for="item in messages" v-bind:message="item" v-bind:key="item.createdAt">
      </message-item>
    </ol>

    <div class="chat__footer">
      <form id="message-form" v-on:submit.prevent="sendMessage">
        <input type="text" v-model="newMessageText" autofocus autocomplete="off" name="message" placeholder="Message" />
        <button type="submit" :disabled="!messageButton.enabled">{{messageButton.text}}</button>
      </form>

      <button id="send-location" :disabled="!locationButton.enabled" v-on:click="sendLocation">{{locationButton.text}}</button>
    </div>
  </div>

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/chat.js"></script>
</body>

</html>